.container {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbfbfa;
}

.menu {
    width: 100%;
}

.menu ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover {
    background-color: #f0f0f0;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin-left: 120px;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 450px;
    width: 300px;
    vertical-align: center;
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: black;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
}

.livro {
    width: 100%;
    margin-right: -360px;
    float: left;
}

.infolivro {
    width: 300px;
    float: right;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: #fbfbfa;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}