body{
    padding: 0;
    margin: 0;
}
.bg{
    background-color: red;
    background-size: auto;
    padding-bottom: 0px;
}
.container{
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    grid-template-columns: repeat(4,1fr);

    grid-row-gap: 10px;
    grid-column-gap: 10px;

    margin: 0 10px;
    background: red;
}
/* Header and footer */
.geral{
    padding-bottom: 45px;
}
.HF{
    padding: 5px;
}
.box{
    padding: 25px;
}
.main{
    padding: 50px;
}
.header{
    display: grid;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 30px;
    grid-column: 1/-1;
}
a{
    text-decoration: none;
}
.smallbox1{
    color: black;
    background-color: white;
    font-size: 30px;
    grid-row: 2;
    grid-column: 1/2;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.smallbox2{
   
    background-color:  transparent;
    color: black;
    font-size: 30px;
    grid-row: 2;
    grid-column: 2/3;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.smallbox3{

    background-color: transparent;
    color: black;
    font-size: 30px;
    grid-row: 2;
    grid-column: 3/4;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.maincontent{
    background-color: #ff2121;
    color: black;
    font-size: 30px;
    grid-row: 3;
    grid-column: 1/4;
    text-align: center;
    border: black 2px solid;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    
}
.texto{
    color: black;
    font-size: 25px;
    padding: 10px;
}
.sidebar{
    text-align: center;
    display: grid;
    background-color:  lightsalmon;
    color: black;
    font-size: 30px;
    grid-column: 4;
    grid-row: 2/4;
    border: black 2px solid;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
}
.footer{
    background-color: darkred;
    color: black;
    font-size: 30px;
    grid-column: 1/-1;
    text-align: center;
    border: black 2px solid;
    font-family: 'Open Sans', sans-serif;
}
/* imagens */
.banner{
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.imagem1{
    background-image: url('regras.png');
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    text-align: center;
    
}
.imagem2{
    background-image: url('Products.jpg');
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    text-align: center;
}
.imagem3{
    background-image: url('imagem3.jpg');
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    background-color: red;
}
.imagemmain{
    background-image: url();
    width: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}

.produto1{
    background-image: url('tyranny.png');
    width: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    
}
/* animacoes*/
#anim1{
    transition-duration: 200ms;
}
#anim1:hover{
    background-color: transparent;
    color: red;
}