.user-bar{
    height: 35px;
    background-color: black;
    color:white;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
header{
    height: 285px;
    background-color: lightgrey;
}
footer{
    height: 35px;
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 17px;
}
.foot2{
    height: 200px;
    background-color: lightgrey;
    text-align: center;
}
.slideshow{
    height: 350px;
}
.main{
    height: 1000px;
    background-color: darkred;
}
.headertop{
    height: 200px;
}
.headerbot{
    height: 50px;
    background-color: white;
    text-align: center;
}
.btnhead{
    height: 50px;
    width: 200px;
    border: none;
}