
/*BACKGROUND AUTO.AJUSTAVEL*//*BACKGROUND AUTO.AJUSTAVEL*//*BACKGROUND AUTO.AJUSTAVEL*//*BACKGROUND AUTO.AJUSTAVEL*//*BACKGROUND AUTO.AJUSTAVEL*/
body, html {
    height: 100%;
    background-color: black;
    margin: 0px;
  }
  
  .bg {
    /* The image used */
    background-image: url("194175-animals-nature-photographers-camouflage-cheetah.jpg");
  
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }


/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/
.header {
    
    
    background: rgb(255, 255, 255);
    color: white;
    font-size: 10px;
  }
  #img_header{
    height: 50px; 
  }







/*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*//*CONTEUDO GERAL*/



  .container1 {
    max-width: 900px;  /*Espaço da esquera para a direita |vaziu|card|card|card|vaziu|*/
    margin: 0 auto;  /*centrar conteudo*/
    background-color: black;
  }

  p{
    color:white;
    
  }

  #ajustar1{
    border-width: 50px;
    border-radius: 0.7%;
    width: 100%;
  }





/*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*//*CONTEUDO 1º LINHA*/
  
* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  .left3, .right3 {   /*CONTEUDO 2º LINHA*/
    margin-top: 20px;
    width: 75%;
  }

  .middle3 {    /*CONTEUDO 2º LINHA*/
    width: 25%;
  }

  .left1, .right1 {
    margin-top: 20px;
    width: 50%;
  }
  
  .middle1 {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .grupo1:after {        /*NAO DEIXA O CONTEUDO SER INVADIDO POR ELEMENTOS EXTERNOS*/
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 

  

  #ajustar2{
    border-width: 50px;
    border-radius: 0.7%;
    width: 100%;
   
  }
