.container {
    display: grid;
    grid-template-rows: 250px 200px 400px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 1fr;
    margin: 0;
    background-color: #eee;
}

.item {
    padding: 20px;
}

.header {
    grid-column: 1/span 4;
    grid-row: 1/2;
    align-self: center;
}

.sidebar {
    border: 1px solid darkblue;
    grid-column: 4/4;
    grid-row: 2/4;
    border-radius: 10px;
}

.content {
    border: 1px solid darkblue;
    grid-row: 3/3;
    grid-column: 1/span 3;
    border-radius: 10px;
}

.img1 {
    border: 1px solid darkblue;
    grid-column: 1/1;
    grid-row: 2/2;
    border-radius: 10px;
}

.img2 {
    border: 1px solid darkblue;
    grid-column: 2/2;
    grid-row: 2/2;
    border-radius: 10px;
}

.img3 {
    border: 1px solid darkblue;
    grid-column: 3/3;
    grid-row: 2/2;
    border-radius: 10px;
}

.footer {
    border: 1px solid darkblue;
    grid-column: 1/-1;
    grid-row: 4/4;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

li a {
    display: block;
    color: #000;
    padding: 48.5px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #28047c;
    color: white;
    border-radius: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
}