.header{
    display: flex;
    background-color: #2C2F33;
    height: 10vh;
    padding: 0;
    margin: 0;
    width: 100%;
}
.loading{
    background-color:#7289DA;
    height: 10px;
    width: 100%;
}

.nav{
    display: flex;
    width: 100%;
}
.nav-b{
    font-size: 17px;
    padding: 20px;
    align-self: center;
    height: auto;
}
a {
    text-decoration: none;
}
.nav-text{
    color: #FFFFFF;
}
.ativo{
    color: #7289DA;
}
.nav-text:hover{
    color: #7289DA;
}



.nav-login{
    padding: 10px;
    display: flex;
    font-size: 17px;
    align-self: center;
    height: auto;
    justify-content: right;

}
.nav-login .image{
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #99AAB5 solid 2px;
}
.nav-login .text{
    color: #FFFFFF;
    padding-left: 10px;
}

@media only screen and (max-width: 30em) {
    .nav-text{
    display: none;
    }
    .nav-login .text {
     display: none;
    }
  }
  footer{
    background-color: #23272A;
    height: 10vh;
    width: 100%;
}
footer {
    text-align: center;
    padding-top: 30px;
    color: #7289DA;
    font-size: 25px;

}
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.guildlist{
    display: grid;
    height: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px,max-content));
    grid-gap: 80px;
    padding-bottom: 200px;
}

.guilds{
    background-color: #2C2F33;
}

.guilds .title{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

.guild{
    display: inline-grid;
    justify-self: center;
    align-content: center;
    
}    
.guild img{
    width: 70px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.guild button{
    width: 200px;
    height: 30px;
    justify-self: center;
    margin: 5px;
    border:transparent;
    border-radius: 50px;
    color: #23272A;
    font-size: 20px;
}

.add{
    background-color: #7289DA;
}
.config{
    background-color: #22ccCB;
}

.hide{
    display: none;
}
.guild .name{
    color: white;
    font-size: 20px;
}
.guilds .information{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-bottom:30px ;
}

/*settings*/


.menus{
    display: flex;
}

.tab{
    display: grid;
    font-size: 10px;
    grid-template-rows: 250px 50px 50px 50px ;
    background-color: #2C2F33;
    width: 250px;
    height: auto;
}

.tab button{
    background-color: #2C2F33;
    border: none;
    width: auto;
    font-size: 15px;
    height: 50px;
    color: white;
    outline:none;
}


.tabcontent {
background-color: #2C2F33;
  display: none;
  width: 100%;
  padding: 6px 12px;
  border: none;
  padding-bottom: 600px;
}

#DashBoard{
    display: block;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(114,118,125);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: rgb(114,137,218);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(114,137,218);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


form .form{
    font-size: 16px;
    width: 30%;
    height: 25px;
    border: none;
    background-color:#2C2F33 ;
    color: rgb(114,118,125);
    border: 2px solid lightgreen;
    border-radius: 10px;
    outline:none;
    padding: 5px 5px 5px 10px;
}


form label{
    color: white;
    font-size: 20px;
    height: 25px;
    border: none;
}
form .button{
    height: 25px;
    width: auto;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
}
form .button:hover{
    transform: scale(1.2);
}

form .timezones{
    font-size: 16px;
    width: 30%;
    height: auto;
    border: none;
    background-color:#2C2F33 ;
    color: rgb(114,118,125);
    border: 2px solid lightgreen;
    border-radius: 10px;
    outline:none;
    padding: 5px 5px 5px 10px;
}
form .timezones *{
 color: white;
 border-radius: 50%;
}

form .timezones option{
    outline: none;
    border-radius: 10px;
}

textarea{
    color: rgb(114,118,125);
    background-color:#2C2F33 ;
    border: 2px solid lightgreen;
    border-radius: 10px;
    outline:none;
    padding: 5px 5px 5px 10px;
}
.tab .guildinfo{
    display: grid;
    justify-content: center;
}
.tab .guildinfo .image img{
    border-radius: 50%;
    border: 2px solid rgb(114,118,125);
    width: 100px;
    margin: 10px;
    height: 70px;
}
.tab .guildinfo .name{
    color: #7289DA;
    font-weight: bold;
    font-size: 35px;
}
.tab .guildinfo .users{
    color: #22ccCB;
    font-size: 15px;
    padding-bottom: 40px;
}
.text{
    display: inli;
}

.tab .guildinfo .type{
    display: none;
    text-align: center;
    font-size: 15px;
    color: white;
}
.tab .guildinfo .active{
    display: block;
}

.tab button .active{
    color: black;
}

.tab button:hover{
    background-color: #2B2B33;
    cursor: pointer;
}
.guild .image{
    margin: 10px;
    border-radius: 50%;
    height: 70px;
    overflow: hidden;
}