/* Index */

.header{
    display: flex;
    background-color: #2C2F33;
    height: 10vh;
    padding: 0;
    margin: 0;
    width: 100%;
}
.loading{
    background-color:#7289DA;
    height: 10px;
    width: 100%;
}

.nav{
    display: flex;
    width: 100%;
}
.nav-b{
    font-size: 17px;
    padding: 20px;
    align-self: center;
    height: auto;
}
a {
    text-decoration: none;
}
.nav-text{
    color: #FFFFFF;
}
.ativo{
    color: #7289DA;
}
.nav-text:hover{
    color: #7289DA;
}



.nav-login{
    padding: 10px;
    display: flex;
    font-size: 17px;
    align-self: center;
    height: auto;
    justify-content: right;

}
.nav-login .image{
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #99AAB5 solid 2px;
}
.nav-login .text{
    color: #FFFFFF;
    padding-left: 10px;
}

@media only screen and (max-width: 30em) {
    .nav-login {
     display: none;
    }
  }


.slogan .image{
    border-radius: 50%;
    border: solid #99AAB5 2px;
}

.slogan .image:hover{
    animation: test 1s infinite;
    animation-timing-function: linear;
}
@keyframes test{
    0%{
        border-color: #99AAB5;
    }
    25%{
        border-color: yellow;
    }
    50%{
        border-color: green;
    }
    75%{
        border-color: red;
    }
    100%{
        border-color: #99AAB5;
    }
}
.slogan{
    display: grid;
    grid-template-columns: 50vw, 50vw;
    grid-template-rows: 50fr,50fr,50fr;
    background-color: #2C2F33;
    color: white;
    text-align: center;
}

.slogan .text{
    font-size: 20px;
    color: #99AAB5;
    grid-column: 1/2;
    grid-row: 1/1;
    padding: 70px;
}
.slogan .title{
    color: white;
    font-size: 50px;
}

.slogan .buttons{
    display: grid;
    grid-template-columns: 15vw,15vw,15vw,15vw;
    grid-template-rows: 1vw,1vw,1vw,1vw;
    color: white;
    width: 100%;
    height: 100px;
}
.button{
    color: white;
    font-size: 20px;
    outline: none;
    justify-items: center;
    height: 35px;
    width: 210px;
}

.add{
    background-color: #7289DA;
    grid-column: 2/2;
    border:transparent;
    grid-row: 1/1;
    border-radius: 50px;
}

.button:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.support{
    background-color: #23272A;
    border:transparent;
    grid-column: 3/3;
    border-radius: 50px;
}


.features{
    background-color:#7289DA;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-bottom: 50px;
}
.features .title{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.features .info{
    color: #99AAB5;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
}
.features .container{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,max-content));
    grid-gap: 80px;
}

.box{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.box-title{
    color: #7289DA;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    padding-bottom: 20px;
}
.box:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
}
footer{
    background-color: #23272A;
    height: 10vh;
    width: 100%;
}
footer {
    text-align: center;
    padding-top: 30px;
    color: #7289DA;
    font-size: 25px;

}


body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

/* DashBoard */